h4 {
  font-size: 24px;
}

html {
  width: 1200px;
}

.voteChoice{  
  border: 10px solid purple;
  width: 350px;
  
}
#disp-results {
  
}
#image-display button {
  display: block;
  background-color: pink;
  margin:0px 0px 0px 600px;
}
.bold {
  font-weight: bold;
}
