html {
  width: 1400px;
}
h1 {
  font-size: 111px;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding: 5px 0px;
 
}
h2 {
  font-size: 73px;
  text-align: center;
  font-family: 'Righteous', cursive;
}
h3 {
  font-size: 40px;
}

h4 {
  font-size: 24px;
}

p, li{
  font-size:25px;
}
ul, li{
  list-style-type: disc;
  list-style-position: inside;
}
li {
  padding: 10px 10px;
  line-height: 50%;
}

#block-one {
  display: flex;
  height: 750px;

}
header{
  display: flex;
  
}
header div {
  border: 3px solid purple;
  background-color: rgba(0, 0, 255, .6);
}
#bus-pic{
  display: flex;  
}
#voting-section-block{
  display: flex;
  flex-direction: column;
}
#results-section{
  padding: 0px 37px;
  border: 5px solid purple;
  
}
#voting-section-block{
  /* //padding: 50px 50px; */
  border: 3px solid purple;
  background-color: rgba(0, 0, 255, .3);
}

label img{  
  border: 2px solid purple;
  width: 300px;
  height: 300px;  
}

#button-section, #images-3 {
  display: flex;
  justify-content: center;
}
#disp-results {
  
    margin: 10px;
    font-size: 24px;
    padding: 10px 300px;
    border:5px solid purple;
    border-radius: 10px;
  
}

#paragraph-section {
  padding: 10px 20px;
}

#results-list{
  
}
.spacer{
  padding: 0px 216px;
}
#form-section{
  display: flex;
  justify-content: center;
}
input{
  
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 0px 10px;
}
.button-div{
padding: 5px 134px;
}